#ignore env variables
**/.env
uploads/
node_modules/*
package.json
//ignore this line
latest_cluedin-e47b2-46a230e63bad.json
cluedInOfficialAndroid.json
client_secret_474604492516-d44810u318r3hnfhoiktiqneagrfi335.apps.googleusercontent.com (1).json
cluedin-79346-firebase-adminsdk-94sut-ab59f886cd.json
cluedin-db185-firebase-adminsdk-g30hi-5e023ee3ab.json
node_modules
